/* Override some defaults */
html, body {
  background-color: #0773b6;
  color: white;
}

.navbar {
  background-color: white;
  padding-bottom: 10px;
}

.navbar-default .navbar-brand {
  color: #0773b6;
  font-size: 26px;
}

a {
  color: white;
}

#member-repo-stats {
  margin-bottom: 25px;
}


.member-avatar {
  max-width:100%;
  max-height:100%;
}
.member-avatar-container {
  /*padding-left: 0px;*/
  /*padding-right: 0px;*/
    margin: 5px;
    border-style: solid;
    background-color: white;
    border-radius: 2px;
}


.repo-language-container {
  margin-top: 26px;
}
.repo-language {
  display: inline;
  padding: .2em .6em .3em;
  vertical-align: baseline;
  border-radius: .25em;
}
.repo-icons {
  margin-top: 26px;
}

footer {
  margin-top: 50px;
}

/*
 language color
 based on https://github.com/Diastro/github-colors/blob/master/github-colors.json
 */
.Mercury-Language { background-color: #ff2b2b; }
.TypeScript-Language { background-color: #2b7489; }
.PureBasic-Language { background-color: #5a6986; }
.Objective-C++-Language { background-color: #6866fb; }
.Self-Language { background-color: #0579aa; }
.edn-Language { background-color: #db5855; }
.NewLisp-Language { background-color: #87AED7; }
.Rebol-Language { background-color: #358a5b; }
.Frege-Language { background-color: #00cafe; }
.Dart-Language { background-color: #00B4AB; }
.AspectJ-Language { background-color: #a957b0; }
.Shell-Language { background-color: #89e051; }
/*.Web Ontology Language-Language { background-color: #9cc9dd; }*/
.xBase-Language { background-color: #403a40; }
.Eiffel-Language { background-color: #946d57; }
.Nix-Language { background-color: #7e7eff; }
.RAML-Language { background-color: #77d9fb; }
.MTML-Language { background-color: #b7e1f4; }
.Elixir-Language { background-color: #6e4a7e; }
.SAS-Language { background-color: #B34936; }
.Agda-Language { background-color: #315665; }
.wisp-Language { background-color: #7582D1; }
.D-Language { background-color: #fcd46d; }
.Kotlin-Language { background-color: #EA4DFA; }
.Opal-Language { background-color: #f7ede0; }
.Crystal-Language { background-color: #776791; }
.Objective-C-Language { background-color: #438eff; }
/*.ColdFusion CFC-Language { background-color: #ed2cd6; }*/
.Oz-Language { background-color: #fab738; }
.Mirah-Language { background-color: #c7a938; }
.Objective-J-Language { background-color: #ff0c5a; }
.Handlebars-Language { background-color: #01a9d6; }
.Gosu-Language { background-color: #82937f; }
.Ruby-Language { background-color: #701516; }
/*.Component Pascal-Language { background-color: #b0ce4e; }*/
.Arc-Language { background-color: #aa2afe; }
.Brainfuck-Language { background-color: #2F2530; }
.Nit-Language { background-color: #009917; }
.APL-Language { background-color: #5A8164; }
.Go-Language { background-color: #375eab; }
/*.Visual Basic-Language { background-color: #945db7; }*/
.PHP-Language { background-color: #4F5D95; }
.Cirru-Language { background-color: #ccccff; }
.SQF-Language { background-color: #3F3F3F; }
.Glyph-Language { background-color: #e4cc98; }
.Java-Language { background-color: #b07219; }
.Scala-Language { background-color: #7dd3b0; }
.Makefile-Language { background-color: #427819; }
.ColdFusion-Language { background-color: #ed2cd6; }
.Perl-Language { background-color: #0298c3; }
.Lua-Language { background-color: #000080; }
.Verilog-Language { background-color: #b2b7f8; }
.Factor-Language { background-color: #636746; }
.Haxe-Language { background-color: #f7941e; }
/*.Pure Data-Language { background-color: #91de79; }*/
.Forth-Language { background-color: #341708; }
.Red-Language { background-color: #ee0000; }
.Hy-Language { background-color: #7790B2; }
.Volt-Language { background-color: #1F1F1F; }
.LSL-Language { background-color: #3d9970; }
.eC-Language { background-color: #913960; }
.CoffeeScript-Language { background-color: #244776; }
.HTML-Language { background-color: #e44b23; }
/*.API Blueprint-Language { background-color: #2ACCA8; }*/
.Swift-Language { background-color: #ffac45; }
.C-Language { background-color: #555555; }
.AutoHotkey-Language { background-color: #6594b9; }
.Isabelle-Language { background-color: #FEFE00; }
.Clarion-Language { background-color: #db901e; }
.Boo-Language { background-color: #d4bec1; }
.AutoIt-Language { background-color: #1C3552; }
.Clojure-Language { background-color: #db5855; }
.Rust-Language { background-color: #dea584; }
.Prolog-Language { background-color: #74283c; }
.SourcePawn-Language { background-color: #5c7611; }
.AMPL-Language { background-color: #E6EFBB; }
.FORTRAN-Language { background-color: #4d41b1; }
.ANTLR-Language { background-color: #9DC3FF; }
.Harbour-Language { background-color: #0e60e3; }
.Tcl-Language { background-color: #e4cc98; }
.BlitzMax-Language { background-color: #cd6400; }
.PigLatin-Language { background-color: #fcd7de; }
.Lasso-Language { background-color: #999999; }
.ECL-Language { background-color: #8a1267; }
.VHDL-Language { background-color: #adb2cb; }
.Elm-Language { background-color: #60B5CC; }
/*.Propeller Spin-Language { background-color: #7fa2a7; }*/
.IDL-Language { background-color: #a3522f; }
.ATS-Language { background-color: #1ac620; }
.Ada-Language { background-color: #02f88c; }
.Nu-Language { background-color: #c9df40; }
.LFE-Language { background-color: #004200; }
.SuperCollider-Language { background-color: #46390b; }
.Oxygene-Language { background-color: #cdd0e3; }
.ASP-Language { background-color: #6a40fd; }
.Assembly-Language { background-color: #6E4C13; }
.Gnuplot-Language { background-color: #f0a9f0; }
.JFlex-Language { background-color: #DBCA00; }
.NetLinx-Language { background-color: #0aa0ff; }
/*.C#-Language { background-color: #178600; }*/
.Turing-Language { background-color: #45f715; }
.Vala-Language { background-color: #fbe5cd; }
.Processing-Language { background-color: #0096D8; }
.Arduino-Language { background-color: #bd79d1; }
.FLUX-Language { background-color: #88ccff; }
.NetLogo-Language { background-color: #ff6375; }
.CSS-Language { background-color: #563d7c; }
/*.Emacs Lisp-Language { background-color: #c065db; }*/
.SaltStack-Language { background-color: #646464; }
.QML-Language { background-color: #44a51c; }
.Pike-Language { background-color: #005390; }
.LOLCODE-Language { background-color: #cc9900; }
.ooc-Language { background-color: #b0b77e; }
.XC-Language { background-color: #99DA07; }
.J-Language { background-color: #9EEDFF; }
.Mask-Language { background-color: #f97732; }
.EmberScript-Language { background-color: #FFF4F3; }
.TeX-Language { background-color: #3D6117; }
.Nemerle-Language { background-color: #3d3c6e; }
.KRL-Language { background-color: #28431f; }
/*.Unified Parallel C-Language { background-color: #4e3617; }*/
.Golo-Language { background-color: #88562A; }
.Fancy-Language { background-color: #7b9db4; }
.OCaml-Language { background-color: #3be133; }
.Shen-Language { background-color: #120F14; }
.Pascal-Language { background-color: #b0ce4e; }
/*.F#-Language { background-color: #b845fc; }*/
.Puppet-Language { background-color: #332A77; }
.ActionScript-Language { background-color: #882B0F; }
.Diff-Language { background-color: #88dddd; }
/*.Ragel in Ruby Host-Language { background-color: #e17600; }*/
.Fantom-Language { background-color: #dbded5; }
.Zephir-Language { background-color: #118f9e; }
.Smalltalk-Language { background-color: #596706; }
.DM-Language { background-color: #447265; }
.Ioke-Language { background-color: #078193; }
.PogoScript-Language { background-color: #d80074; }
.LiveScript-Language { background-color: #499886; }
.JavaScript-Language { background-color: #f1e05a; }
.VimL-Language { background-color: #199f4b; }
.PureScript-Language { background-color: #1D222D; }
.ABAP-Language { background-color: #E8274B; }
.Matlab-Language { background-color: #bb92ac; }
.Slash-Language { background-color: #007eff; }
.R-Language { background-color: #198ce7; }
.Erlang-Language { background-color: #B83998; }
.Pan-Language { background-color: #cc0000; }
.LookML-Language { background-color: #652B81; }
.Eagle-Language { background-color: #814C05; }
.Scheme-Language { background-color: #1e4aec; }
.Squirrel-Language { background-color: #800000; }
.Python-Language { background-color: #3572A5; }
.Max-Language { background-color: #c4a79c; }
/*.Common Lisp-Language { background-color: #3fb68b; }*/
.Latte-Language { background-color: #A8FF97; }
.XQuery-Language { background-color: #5232e7; }
.Omgrofl-Language { background-color: #cabbff; }
.Nimrod-Language { background-color: #37775b; }
.SystemVerilog-Language { background-color: #DAE1C2; }
.Chapel-Language { background-color: #8dc63f; }
.Groovy-Language { background-color: #e69f56; }
.Dylan-Language { background-color: #6c616e; }
.E-Language { background-color: #ccce35; }
.Parrot-Language { background-color: #f3ca0a; }
/*.Grammatical Framework-Language { background-color: #79aa7a; }*/
/*.Game Maker Language-Language { background-color: #8fb200; }*/
.Papyrus-Language { background-color: #6600cc; }
.C++-Language { background-color: #f34b7d; }
/*.NetLinx+ERB-Language { background-color: #747faa; }*/
.Clean-Language { background-color: #3F85AF; }
.Alloy-Language { background-color: #cc5c24; }
.PAWN-Language { background-color: #dbb284; }
.UnrealScript-Language { background-color: #a54c4d; }
/*.Standard ML-Language { background-color: #dc566d; }*/
.Slim-Language { background-color: #ff8f77; }
.Perl6-Language { background-color: #0000fb; }
.Julia-Language { background-color: #a270ba; }
.Haskell-Language { background-color: #29b544; }
.Io-Language { background-color: #a9188d; }
.Rouge-Language { background-color: #cc0088; }
.Racket-Language { background-color: #22228f; }
/*.AGS Script-Language { background-color: #B9D9FF; }*/
.Dogescript-Language { background-color: #cca760; }
.nesC-Language { background-color: #94B0C7; }
.AppleScript-Language { background-color: #286494; }
