/* Override some defaults */
html, body {
  background-color: #0773b6;
  color: white;
}

.navbar {
  background-color: white;
  padding-bottom: 10px;
}

.navbar-default .navbar-brand {
  color: #0773b6;
  font-size: 26px;
}

a {
  color: white;
}

#member-repo-stats {
  margin-bottom: 25px;
}

.repo-language {
  margin-top: 26px;
}
.repo-icons {
  margin-top: 26px;
}

footer {
  margin-top: 50px;
}

/*
 language color
 */
.Processing-Language { color: blue; }
.JavaScript-Language { color: yellow; }
.Shell-Language { color: gray; }
.C-Language { color: red; }
.Arduino-Language { color: green; }
.HTML-Language { color: white; }
.AppleScript-Language { color: gray; }
.Java-Language { color: orange; }
.Python-Language { color: cyan; }
.CSS-Language { color: white; }
.CartoCSS-Language { color: white; }
.R-Language { color: white; }
.Ruby-Language { color: red; }
