/* Override some defaults */
html, body {
  background-color: #0773b6;
  color: white;
}

.navbar {
  background-color: white;
  padding-bottom: 10px;
}

.navbar-default .navbar-brand {
  color: #0773b6;
  font-size: 26px;
}

a {
  color: white;
}

#member-repo-stats {
  margin-bottom: 25px;
}

/*.repo-data {
  border:1px solid;
  color:white;
}*/
.repo-language {
  margin-top: 26px;
}
.repo-icons {
  margin-top: 26px;
}

footer {
  margin-top: 50px;
}
